{% load static %} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Noticiario de qualidade">
    <meta name="author" content="Luis Felipe Antunes Venezian">

    <title>Cara Lavada</title>

    <!-- CSS only -->
    <link href="{% static 'blog/bootstrap.css' %}" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'blog/bootstrap.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'blog/home.css' %}" rel="stylesheet">
  </head>

  <body>
    <!-- CABEÇALHO 1. ANTES DA LOGO -->
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar px-0">
      <div class="container flex-wrap flex-md-nowrap py-0 px-3">
        <ul class="navbar-nav d-navbar-nav flex-row">
          <li class="nav-item">
            <a class="text-dark nav-link p-2" href="{% url 'blog:login'%}" target="_blank" rel="noopener" aria-label="GitHub">
              &nbsp;&#x1F93A; Entrar
            </a>
          </li>
          <li class="nav-item">
            <a class="text-dark nav-link p-2" href="{% url 'blog:escrever'%}" target="_blank" rel="noopener" aria-label="GitHub">
              &nbsp;&#x1F4DD; Escrever
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-sm-auto">
          <li class="nav-item">
            <a class="nav-link p-2" href="https://github.com/venezianluis/caralavada" target="_blank" rel="noopener" aria-label="GitHub">
              <!-- AQUI VAI O PESQUISAR -->>
            </a>
          </li>
        </ul>
      </div>
    </header>
    <!-- FIM CABEÇALHO 1. ANTES DA LOGO -->

    <!-- CABEÇALHO 2. LOGO E MENUS -->
    <div class="container-fluid bg-white">
      <div class="blog-header py-5">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-12 text-center">
            <img style="float:center;" title="Escrever"
              src="{%static 'blog/pena-escrever.svg'%}"
              alt="logotipo"
              height="170"
              width="100"/>
            <a class="blog-header-logo text-dark" href="/">Cara Lavada</a>
            <p><small class="text-muted">Aqui residem os gatos sobriventes a curiosidade.</small></p>
          </div>
        </div>
      </div>
      <div class="nav-scroller">
        <nav class="nav d-flex justify-content-between assuntos">
            {% for assunto in menu %}
              <a class="assunto p-3" href="{% url 'blog:menu' assunto|lower %}">
                <span class="btn">{{assunto}}</span>
              </a>
            {% endfor %}
          <a class="p-3" href="#">
            <span class="btn">Sobre o "autor"</span>
          </a>
        </nav>
      </div>
    </div>
    <!-- FIM CABEÇALHO 2. LOGO E MENUS -->

    <!-- LAYOUT LATERAL -->
    <div class="container text-dark bg-white">
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>
            <!-- Publicações, parte principal -->
            {% block content %}
            {% endblock %}
            <!-- Fim das publicações -->
          </div><!-- /.blog-main -->
        
          <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-white rounded">
              <h4 class="font-italic">Sobre</h4>
              <p class="text-dark">Ideias e assuntos avançados demais para serem descutidos em redes sociais, eles ainda não estão preparados para isso e não vão aceitar. </p>
            </div>

            <div class="p-3">
              <h4 title="O destino escreveu..." class="font-italic">Linha do Tempo</h4>
              <ol class="list-unstyled mb-0">
              {% for data in linha_do_tempo %}
                <li><a class="text-dark" href="#">{{data}}</a></li>
              {% endfor %}
              </ol>
            </div>

            <div class="p-3">
              <h4 class="font-italic">Outros</h4>
              <ol class="list-unstyled">
                <li><a class="text-dark" href="#">Outro</a></li>
              </ol>
            </div>
          </aside><!-- /.blog-sidebar -->
        </div><!-- /.row -->
      </main><!-- /.container -->
    </div><!-- FIM LAYOUT LATERAL -->
    <footer class="blog-footer bg-white">
        <p><font title="Boa sorte!">É só isso, acabou.</font>  &nbsp;&bull; 
        <a style="text-decoration: none; color: #999;" href="{%url 'blog:assinatura'%}">Assinar nossa Newsletter!</a> &nbsp;&bull; Ver Dúvidas Frequentes!</p> 
        <p>
          <a href="#" class="text-light">Voltar para cima</a>
        </p>
    </footer>
  </body>
</html>
