{% load static %} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Noticiario de qualidade">
    <meta name="author" content="Luis Felipe Antunes Venezian">

    <title>Você Diz</title>

    <!-- CSS only -->
    <link href="{% static 'blog/bootstrap.css' %}" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'blog/bootstrap.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'blog/home.css' %}" rel="stylesheet">

    <!-- SCRIPT PARA GOSTAR DOS POSTS-->
    <script src="{% static "blog/js/ajax-gostar.js" %}"></script>
  </head>

  <body>
    <!-- CABEÇALHO 1. ANTES DA LOGO -->
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar px-0">
      <div class="container flex-wrap flex-md-nowrap py-0 px-3">
        <ul class="navbar-nav d-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link p-2" href="/">
              <div class="titulo-menu">Você Diz</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="{% url 'blog:escrever'%}">
              <div class="item-menu">&nbsp;&#x1F4DD; Escrever</div>
            </a>
          </li>
          <li class="nav-item">
            <div class="dropdown nav-link p-2">
              <div class="dropbtn item-menu">&nbsp;&#x1F4AC; Assuntos</div>
              
              <div class="dropdown-content">
                {% for assunto in menu %}
                  <a class="" href="{% url 'blog:menu' assunto|lower %}">
                    <span class="btn">{{assunto}}</span>
                  </a>
                {% endfor %}               
              </div>
            </div>
          </li>
          {% if autenticado %}
          <li class="nav-item">
            <a class="nav-link p-2" href="{% url 'blog:login'%}">
              <div class="item-menu">&nbsp;&#x1F93A; Perfil</div>
            </a>
          <li class="nav-item">
          {% endif %}   
          <li class="nav-item">
            {% if not autenticado %}
            <a class="nav-link p-2" href="{% url 'blog:login'%}">
              <div class="item-menu">&nbsp;&#x1F93A; Entrar</div>
            </a>
            {% else %}
            <div class="dropdown nav-link p-2">
              <div class="dropbtn item-menu">&nbsp;&#x2699; Opções</div>
              
              <div class="dropdown-content">
                  <a class="" href="{% url 'blog:logout' %}">
                    <span class="btn">Sair</span>
                  </a>
              </div>
            </div>
            {% endif %}
          </li>     
        </ul>
      </div>
    </header>

    <!-- LAYOUT LATERAL -->
    <div class="container">
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-9 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>
            <!-- Publicações, parte principal -->
            {% block content %}
            {% endblock %}
            <!-- Fim das publicações -->
          </div><!-- /.blog-main -->
        
          <aside class="col-md-3 blog-sidebar">
            <div class="p-3 mb-3  rounded">
              <a class=" nav-link p-2" href="/" target="_blank" rel="noopener" aria-label="GitHub">
                <img style="float:center;" title="Escrever"
                src="{%static 'blog/pena-escrever.svg'%}"
                alt="logotipo"
                height="60"
                width="40"/>
              </a>
              <p class="">Ideias e assuntos avançados demais para serem descutidos em redes sociais, eles ainda não estão preparados para isso e não vão aceitar. </p>
            </div>

            <div class="p-3">
              <a class=" nav-link p-2" href="/" target="_blank" rel="noopener" aria-label="GitHub">
                <img style="float:center;" title="Escrever"
                src="{%static 'blog/calendario.svg'%}"
                alt="logotipo"
                height="60"
                width="40"/>
              </a>
              <ol class="list-unstyled mb-0">
              {% for data in linha_do_tempo %}
                <li><a class="item-menu-lateral" href="#">{{data}}</a></li>
              {% endfor %}
              </ol>
            </div>

            <div class="p-3">
              <h4 class="font-italic">Outros</h4>
              <ol class="list-unstyled">
                <li><a class="item-menu-lateral" href="#">GitHub</a></li>
              </ol>
            </div>
          </aside><!-- /.blog-sidebar -->
        </div><!-- /.row -->
      </main><!-- /.container -->
    </div><!-- FIM LAYOUT LATERAL -->
    <footer class="blog-footer">
        <p><font title="Boa sorte!">É só isso, acabou.</font>  &nbsp;&bull; 
        <a style="text-decoration: none; color: #999;" href="{%url 'blog:assinatura'%}">Newsletter</a></p> 
        <p>
          <a href="#" class="text-light">Voltar para cima</a>
        </p>
    </footer>
  </body>
</html>
