{% extends 'base.html' %} 
{% load static %} 
{% block content %}
  <div class="row">
    <div class="col-md-10 blog-main">
        <img src="{% static 'blog/pena-escrever.svg' %}" alt="icone de escrita" height="250" width="250"/>
        <!-- AQUI VAI O FORMULÁRIO -->
        <form action="{%url 'blog:escrever' %}" method="POST">{% csrf_token %}
          {{ form.media }}
          {{ form.as_p }}
          <button type="submit" class="item-menu">Publicar!</button> <!-- Essa classe eu tenho que mudar ;(-->
        </form>
        <hr>
    </div><!-- /.blog-main -->
  </div><!-- /.row -->
{% endblock %}