{% extends 'base.html' %} 
{% load static %} 
{% block content %}

    <form class="form-signin" action="{%url 'blog:login' %}" method="POST">{% csrf_token %}
      <h1 class="h2b">&#x270C;&nbsp;Oi, autor</h1>
      <label for="inputUsuario" class="sr-only">Email address</label>
      <input name="usuario" type="text" id="inputUsuario" class="form-control" placeholder="Usuário" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="senha" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">Aborde qualquer assunto com inteligência, trabalhe com imparcialidade e então vai ser muito bom poder ler suas histórias.</p>
    </form>
  <br>
{% endblock %}